# Ignore all the .h5 files since they are model files produced by keras
*.h5
*.log

# Python
*.pyc
*.py~
*.save
*.png
*.jpg

# VSCODE settings
.sync/
.vscode/

Inpainting/my_work/imagenet_100k_ssim/
Inpainting/my_work/paris_ssim/
Inpainting/context_encoder/imagenet_100k/
Inpainting/context_encoder/paris/
Inpainting/globally_locally/models
Inpainting/globally_locally/models_without_adv_l2
Inpainting/globally_locally/models_without_adv_l1
Inpainting/globally_locally/models_without_adv_ssim
Inpainting/globally_locally/test_images
Inpainting/globally_locally/models_without_adv_l2_v2
Inpainting/GlobalLocalImageCompletion_TF/CelebA/models_without_adv_l2
Inpainting/GlobalLocalImageCompletion_TF/CelebA/models_without_adv_l1
Inpainting/GlobalLocalImageCompletion_TF/CelebA/models_with_global_adv_l1
Inpainting/GlobalLocalImageCompletion_TF/CelebA/models_global_local_l1
Inpainting/MPGAN/CelebA/models_global_local_l1
Inpainting/MPGAN/CelebA/models_global_l1
Inpainting/MPGAN/CelebA/models_local_l1
Inpainting/MPGAN/CelebA/models_without_adv_l1
Inpainting/MPGAN/CelebA/pretrain_model_global
Inpainting/MPGAN/CelebA/pretrain_model_global_local
Inpainting/MPGAN/ParisStreetView/models_global_local_l1
Inpainting/MPGAN/ParisStreetView/models_global_l1
Inpainting/MPGAN/ParisStreetView/models_local_l1
Inpainting/MPGAN/ParisStreetView/models_without_adv_l1
Inpainting/MPGAN/ImageNet100k/models_without_adv_l1
Inpainting/MPGAN/Places/models_without_adv_l1
Inpainting/contextual_attention_baseline/celeba/log
Inpainting/contextual_attention_baseline/celeba/model
Inpainting/contextual_attention_baseline/celebahq/log
Inpainting/contextual_attention_baseline/celebahq/model
Inpainting/contextual_attention_baseline/ParisStreetView/log
Inpainting/contextual_attention_baseline/ParisStreetView/model
Inpainting/patch/celebahq/log
Inpainting/patch/celebahq/model
Inpainting/patch/places/log
Inpainting/patch/places/model
Inpainting/patch/celeba/log
Inpainting/patch/celeba/model
Inpainting/patch/test_generative_inpainting/model_logs
Inpainting/patch/test_generative_inpainting/neuralgym_logs
Inpainting/comparison/generative_inpainting/model_logs
Inpainting/comparison/generative_inpainting/neuralgym_logs

*.pickle