# Ignore all the .h5 files since they are model files produced by keras
*.h5

# Python
*.pyc
*.py~
*.save
*.png

# VSCODE settings
.sync/
.vscode/

Inpainting/my_work/imagenet_100k_ssim/
Inpainting/my_work/paris_ssim/
Inpainting/context_encoder/imagenet_100k/
Inpainting/context_encoder/paris/
Inpainting/globally_locally/models
Inpainting/globally_locally/models_without_adv_l2
Inpainting/globally_locally/models_without_adv_l1
Inpainting/globally_locally/test_images

*.pickle