# Ignore all the .h5 files since they are model files produced by keras
*.h5

# Python
*.pyc
*.py~
*.save

# VSCODE settings
.sync/
.vscode/

Inpainting/imagenet/
Inpainting/models/
Inpainting/params/

*.pickle